* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #e0e0e0;
    padding-top: 90px;
    font-family: "Segoe UI", Arial, sans-serif;
}


/* ===== HEADER FIXE ===== */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;

    background: linear-gradient(
        270deg,
        #b30000,
        #8b0000,
        #5c0000,
        #8b0000,
        #b30000
    );
    background-size: 600% 600%;
    animation: gradientMove 100s linear infinite;
}


.logo img {
    height: 100px;
    width: 105px;
}


/* ===== MENU ===== */
nav a {
    margin-left: 12px;
    padding: 12px 22px;
    text-decoration: none;
    color: white;
    border-radius: 30px;

    background: linear-gradient(
        270deg,
        #b30000,
        #8b0000,
        #5c0000,
        #8b0000
    );
    background-size: 400% 400%;
    animation: gradientMove 240s linear infinite;

    transition: transform 0.1s ease, filter 0.5s ease;
}

nav a:hover {
    transform: scale(1.12);
    filter: brightness(85%);
}


/* ===== CONTENU ===== */
.container {
    text-align: center;
    padding: 60px 20px;
}

h1, h2, h3 {
    color: #8b0000;
    margin-bottom: 20px;
}

.box {
    width: 100%;
    margin: 25px auto;
    padding: 40px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


/* ===== FORMULAIRE ===== */
.form-group {
    margin: 15px;
}

input, textarea {
    width: 70%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #5c0000;
}

textarea {
    height: 120px;
}

/* ===== FOOTER ===== */
footer {
    background: #5c0000;
    color: #e0e0e0;
    font-size: 12px;
    text-align: center;
    padding: 15px;
}
@keyframes gradientMove {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: -200% 50%;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-content img {
    height: 30px;
    width: auto;
}

/* ===== IMAGES QUI SOMMES-NOUS ===== */

.photos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
}

.photos img {
    width: 175px;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.photos img:hover {
    transform: scale(1.05);
    transition: 0.5s ease;

}

.team {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.team-card {
    background: white;
    border-radius: 25px;
    padding: 25px 20px;
    width: 230px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

.team-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #8b0000;
    margin-bottom: 15px;
}

.team-card h4 {
    margin: 10px 0 5px;
    color: #8b0000;
    font-size: 18px;
}

.team-card span {
    font-size: 14px;
    color: #555;
}


/* ===== Liens Prénom Linkedin ===== */

.team-card h4 a {
    color: #8b0000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.team-card h4 a:hover {
    color: #5c0000;
    text-decoration: underline;
}

/* ===== Logos FOOTER ===== */

.social-logo {
    height: 23px;
    width: auto;
    opacity: 0.7;
    transition: transform 0.075s ease, opacity 0.2s ease;
}

.social-logo:hover {
    transform: scale(1.075);
    opacity: 1;
}


/* ===== Liens FOOTER ===== */

.footer-link {
    color: #aaa;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: white;
}


/* ===== Bouton Envoyer formulaire - Proposer une mission ===== */


.btn-submit {
    margin-top: 20px;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(270deg, #b30000, #8b0000, #5c0000);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    filter: brightness(90%);
}

/* ===== Images et Mise en forme 'Qui sommmes-nous ?' ===== */

.team-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    flex-wrap: wrap;
}


/* ===== Historique Missions AJS - Dans l'encadré blanc ===== */


.mission-card {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 16px;
    margin: 30px 0;
    margin-left: 21px;
    margin-right: 21px;}

.mission-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.mission-header h4 {
    color: rgb(0, 0, 0);
    font-weight: 2000;
    font-size: 1.9rem;
    margin: 0 0 15px 100px;
}

.mission-date {
    color: #aaa;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
}


.mission-content {
    display: flex;
    align-items: center;
    gap: 25px;
}

.mission-img {
    width: 15%;
    border-radius: 12px;
    transition: transform 0.4s ease;
}

.mission-img:hover {
    transform: scale(1.05);
}

.mission-text {
    color: #000000;
    font-size: 1.05rem;
    text-align: left;
    flex: 1;
}

.mission-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 15px;
}



/* ===== Encadré Postuler 'Missions' ===== */


.mission-box {
    background: white;
    display: flex;
    padding: 25px;
    border-radius: 16px;
    gap: 30px;
    color: black;
}

.mission-left { flex: 3; }
.mission-right { flex: 1; display: flex; align-items: center; justify-content: center; }

.mission-main {
    display: flex;
    gap: 100px;
}

.mission-main img {
    width: 100px;
    border-radius: 12px;
}

.toggle-desc {
    cursor: pointer;
    color: #b00000;
    font-size: 0.9rem;
}

.mission-details {
    display: none;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#details-toggle:checked ~ .mission-details {
    display: flex;
}


/* ===== Pop-up Postuler à une mission ===== */

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

#apply-toggle:checked ~ .overlay {
    display: flex;
}

.popup {
    background: white;
    padding: 25px;
    border-radius: 16px;
    width: 420px;
    position: relative;
}

.close {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}

.apply-btn {
    background: #b00000;
    color: white;
    padding: 14px 30px;
    border-radius: 30px;
    cursor: pointer;
}

.apply-btn:hover {
    background: #800000;
}






.permis-block {
    margin: 12px 0;
}

.permis-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
}

.permis-option {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    gap: 6px;
    font-size: 0.95rem;
}

.mission-desc {
    font-size: 1.1rem;
    line-height: 1.6;
}

.mission-bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.mission-infos {
    flex: 2;
}

.mission-infos p {
    margin: 6px 0;
}

.mission-pdf {
    flex: 1;
    background: #f2f2f2;
    padding: 15px;
    border-radius: 12px;
    text-align: bottom;
}

.pdf-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #b00000;
    font-weight: 600;
}

.pdf-link:hover {
    text-decoration: underline;
}


.mission-title {
    text-align: justify;
    color: #b00000; /* Rouge AJS */
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 10px;
}



/* ===== Formulaire pour devenir intérimaire ===== */


.formulaire {
    max-width: 500px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0);
    padding: 30px;
    border-radius: 16px;
}

.formulaire input,
.formulaire textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-btn {
    background: #b00000;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.form-btn:hover {
    background: #800000;
}



body {
    background: 
        linear-gradient(
            rgba(255, 255, 255, 0.853),
            rgba(243, 96, 96, 0.088)
        ),
        url("images/Qui-Sommes-Nous/TEST.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
